.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "sb ca ca ca ca ca"
    "ft ft ft ft ft ft";
  border: 2px solid purple;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sb;
}

.cards {
  grid-area: ca;
}

.footer {
  grid-area: ft;
}

.box {
  display: flex;
  border: 2px solid red;
}

.sidebar {
  flex-direction: column;
}

.card {
  border: 1px solid purple;
}

@media(max-width:320px) {
  .cotainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "hd hd hd hd"
      "sb ca ca ca"
      "ft ft ft ft";
  }
}

@media(min-width:901px) {
  .container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sb sb ca ca ca ca ca ca"
      "ft ft ft ft ft ft ft ft";
  }
}