.author {
  grid-area: au;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  /* border: 2px solid grey; */
  margin: 1% 0 2% 1%;
  border: 2px solid seashell;
}

.author_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 0 1%;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1%;
}

.bio {
  font-style: italic;
  margin-top: 1%;
}