.card {
  border: 5px solid silver;
  margin: 2% 1% 2% 1%;
  padding: 2%;
  background-color: seashell;
}

.one {
  grid-area: pic1;
}

.two {
  grid-area: pic2;
}

.thrid {
  grid-area: pic3;
}

.picture{
  width: 100%;
  height: 15em;
  object-fit: cover;
}